* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

.header-links-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
}

.header-links-el-icon {
  margin: 20px 0 0 0;
}

.header-links-el-icon__link {
  width: 100%;
}
.header-links-el-icon__link img {
  max-width: 6em;
  height: auto;
}

.header-links-el-menu {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}
.header-links-el-menu .header-links-el-menu__in {
  -webkit-appearance: none;
}

.header-links-el-menu__label {
  position: absolute;
  top: 25px;
  right: 0;
}
.header-links-el-menu__label span, .header-links-el-menu__label span:before, .header-links-el-menu__label span:after {
  display: inline-block;
  height: 3px;
  width: 30px;
  background-color: #000;
}
.header-links-el-menu__label span {
  position: relative;
}
.header-links-el-menu__label span:before {
  position: absolute;
  content: "";
  top: -8px;
  left: 0;
}
.header-links-el-menu__label span:after {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
}

.header-links-el-menu-list {
  display: none;
  list-style: none;
}
.header-links-el-menu-list .header-links-el-menu-list__item {
  display: inline-block;
  width: 100%;
  padding: 6px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #494949;
  font-size: 17px;
}

.header-links-el-menu__in:checked
~ .header-links-el-menu-list {
  display: block;
}

.header-inner {
  background: url(../images/header.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.header-inner-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header-inner-block .header-inner-block-photo {
  margin-bottom: 30px;
}
.header-inner-block .header-inner-block-photo img {
  max-width: 100%;
  height: auto;
}

.header-inner-block-info {
  margin-bottom: 30px;
  padding: 0 10px;
  color: #fff;
}
.header-inner-block-info h3 {
  font-size: 27px;
  text-transform: capitalize;
}
.header-inner-block-info p {
  font-size: 18px;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  margin: 30px 0;
}
.header-inner-block-info a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #fff;
}

.slider {
  background-color: #eaeaea;
}

.slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider-block-progress {
  margin-top: 30px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}
.slider-block-progress h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
}
.slider-block-progress p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #acacac;
  margin: 17px 0 20px 0;
}

.slider-block-progress-list {
  list-style: none;
}

.slider-block-progress-list__item {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #494848;
  font-weight: 700;
  font-size: 14px;
  padding: 15px 0;
  position: relative;
}

.slider-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.slider-info-item {
  padding: 50px 50px 20px 50px;
}

.slider-info-item-img span {
  font-size: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.slider-info-item-img img {
  max-width: 60%;
  height: auto;
}

.slider-info-item-text h3 {
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 15px 0 10px 0;
}
.slider-info-item-text p {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
}

.create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 73px 0 95px 0;
}

.create-block {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  background-color: #ee252d;
  padding: 2px;
  border-radius: 10px;
  position: relative;
}

.create-block-inner {
  border-radius: 10px;
  border: 1px solid #fff;
  text-align: center;
}
.create-block-inner p {
  text-transform: uppercase;
  color: #fff;
  padding: 18px 25px;
  font-weight: bold;
  font-size: 18px;
}

.footer {
  background: url(../images/footer.png);
  background-image: 100% 100%;
  background-repeat: no-repeat;
  padding: 0 10px;
}
.footer p {
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 43px 0;
  text-transform: uppercase;
}
.footer p span {
  font-size: 16px;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1170px;
  }

  .header-links-el {
    margin: 0;
  }
  .header-links-el .header-links-el-icon {
    margin: 35px 0 33px 0;
  }

  .header-links-el-icon__link img {
    max-width: 175px;
    height: 53px;
  }

  .header-links-el-menu__in,
  .header-links-el-menu__label {
    display: none;
  }

  .header-links-el-menu {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .header-links-el-menu-list {
    display: block;
    padding-top: 49px;
  }
  .header-links-el-menu-list li {
    display: inline-block;
    position: relative;
  }
  .header-links-el-menu-list li:nth-child(n+2) {
    margin-left: 43.3px;
  }
  .header-links-el-menu-list li:nth-child(n+2):before {
    position: absolute;
    content: "";
    height: 15px;
    width: 2px;
    background-color: #494949;
    left: -23.6px;
    bottom: 25%;
  }

  .header-links-el-menu-list__item {
    font-weight: bold;
    letter-spacing: -0.5px;
  }

  .header-inner-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .header-inner-block-photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 560px;
        flex-basis: 560px;
    margin: 50px -35px 0 0;
  }

  .header-inner-block-info {
    padding: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-flex-preferred-size: 596px;
        flex-basis: 596px;
    margin: 250px 0 285px 0;
  }
  .header-inner-block-info h3 {
    font-size: 50px;
    word-spacing: 0px;
    letter-spacing: 0.1px;
  }
  .header-inner-block-info p {
    max-width: 96%;
    text-align: justify;
    font-size: 25px;
    margin: 10px 0;
    letter-spacing: 0.25px;
  }
  .header-inner-block-info a {
    margin-top: 15px;
    font-size: 19px;
    padding: 13px 30px;
    letter-spacing: 0.2px;
  }

  .slider-block-progress h1:before, .slider-block-progress h1:after {
    position: absolute;
    content: "";
    width: 99px;
    height: 23.9px;
    background: url(../images/Shape.png);
    background-size: 100% 100%;
    top: 28.2%;
  }

  .slider-block-progress {
    margin-right: 21px;
  }
  .slider-block-progress h1 {
    font-size: 45px;
    margin: 84px 0 11px 0;
    letter-spacing: -0.1px;
    position: relative;
  }
  .slider-block-progress h1:before {
    left: 17%;
  }
  .slider-block-progress h1:after {
    right: 17.3%;
  }
  .slider-block-progress p {
    font-size: 20px;
    margin: 0;
    text-indent: 20px;
    letter-spacing: 0.2px;
  }

  .slider-block-progress-list {
    margin-top: 23.5px;
  }
  .slider-block-progress-list li {
    display: inline-block;
    margin-right: 36px;
    position: relative;
  }
  .slider-block-progress-list li:nth-child(n+2):before {
    content: "";
    position: absolute;
    width: 3px;
    height: 17px;
    background-color: #494949;
    left: -22px;
    top: 33%;
  }
  .slider-block-progress-list li:first-child {
    margin-left: 61px;
  }
  .slider-block-progress-list .slider-block-progress-list__item {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.08px;
  }
  .slider-block-progress-list .slider-block-progress-list__item:before {
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #ee252d;
    bottom: -5.5px;
  }
  .slider-block-progress-list .slider-block-progress-list__item:after {
    display: none;
    position: absolute;
    content: "";
    border: 10px solid #ee252d;
    border-color: transparent transparent #ee252d transparent;
    bottom: -4px;
    left: 43%;
  }
  .slider-block-progress-list .slider-block-progress-list__item:hover:after, .slider-block-progress-list .slider-block-progress-list__item:hover:before {
    display: block;
  }
  .slider-block-progress-list .active:before,
  .slider-block-progress-list .active:after {
    display: block;
  }

  .slider-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 51px;
    -webkit-box-shadow: 0 0 5px 0 #a3a0a0;
            box-shadow: 0 0 5px 0 #a3a0a0;
  }

  .slider-info-item {
    -ms-flex-preferred-size: 380px;
        flex-basis: 380px;
    padding: 54px 50px 56px 56.5px;
  }

  .slider-info-item-text h3 {
    word-spacing: 3px;
    letter-spacing: -0.1px;
  }
  .slider-info-item-text p {
    letter-spacing: 0.4px;
  }

  .slider-info-item:nth-child(1) .slider-info-item-img span {
    margin-left: -10px;
  }
  .slider-info-item:nth-child(1) .slider-info-item-img img {
    margin-bottom: 10px;
  }

  .slider-info-item:nth-child(2) .slider-info-item-img img {
    margin-left: 13px;
  }
  .slider-info-item:nth-child(2) .slider-info-item-text p {
    margin: 2px 0 0 2.5px;
  }

  .slider-info-item:nth-child(3) {
    margin-left: 25px;
  }
  .slider-info-item:nth-child(3) .slider-info-item-img img {
    margin-left: 23px;
    margin-bottom: 9px;
  }
  .slider-info-item:nth-child(3) .slider-info-item-text p {
    margin-left: 3.5px;
  }

  .slider-info-item-img span {
    font-size: 122px;
  }
  .slider-info-item-img img {
    max-width: 100%;
  }

  .slider-info-item-text {
    margin-top: 15px;
  }
  .slider-info-item-text h3 {
    font-size: 45px;
  }
  .slider-info-item-text p {
    letter-spacing: 0.6px;
  }

  .create-block {
    -ms-flex-preferred-size: 435px;
        flex-basis: 435px;
    border-radius: 20px;
  }

  .create-block-inner {
    border-radius: 20px;
  }
  .create-block-inner p {
    font-size: 30px;
    padding: 26px;
  }

  .footer p {
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-left: 2px;
    word-spacing: -2px;
  }
}
